.flex-parent {
  display: flex;
}

.flex-child {
  flex: 1;
}

.forward {
  position: relative;
  z-index: 2;
}

.rounded-profile {
  border-radius: 1000px;
}

.margin-left-100 {
  margin-left: 100px;
}
