.flex-parent {
  display: flex;
}

.flex-child {
  flex: 1;
}

.forward {
  position: relative;
  z-index: 2;
}

.rounded-profile {
  border-radius: 1000px;
}

.margin-left-100 {
  margin-left: 100px;
}
.text-description {
  position: absolute;
  left: 0%;
  right: 0%;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 167%;
  text-align: center;
}

.font-description {
  font-family: $description-font !important;
}
@media (max-width: 900px) {
  .disaplay-none {
    display: none;
  }
  .container-margin {
    padding-top: 20%;
  }
  .size-logo {
    width: 130px !important;
  }
}

@media (max-width: 576px) {
  .text-disaplay-none {
    display: none;
  }
}

.col-lg-text {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  padding-bottom: 10%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.multi {
  line-height: 104px;
  display: block;
  top: 50%;
  margin-top: -231px;
}
.size-logo {
  width: 180px;
}
